<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>

    <!-- Html-->
    
    <div class="container">
      <div class="heading">
        <h1>Dashboard</h1>
      </div>
      <div class="greeting">
        <h2>Hello <%= loginName %></h2>
      </div>
      <div>
        <form action="/update" method="get">
          <div class="userData">
            <table>
              <tr>
                <td>Name</td>
                <td><%= loginName %></td>
              </tr>
              <tr>
                <td>Email</td>
                <td><%= loginEmail %></td>
              </tr>
              <tr>
                <td>Password</td>
                <td><%= loginPass %></td>
              </tr>
            </table>
          </div>
          <button>Update</button>
        </form>
        <button onclick="btnChange()">Delete Account</button>
      </div>
    </div>

    <!-- Script-->

    <script>
      let btn = document.getElementsByTagName("button")[1];
      const btnChange = () => {
        location.href = "/delete";
      };
    </script>
    
    <!-- Stylesheet-->
    
    <style>
      .container {
        text-align: center;
      }

      .formLay {
        margin-left: 600px;
      }

      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
        margin-left: 600px;
      }
    </style>
  </body>
</html>
