<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="heading">
            <h1>Dashboard</h1>
        </div>
        <div class="greeting">
            <h3>Hello Name</h3>
        </div>
        <div>
            <form action="#" method="post">
                <div class="userData">
                    <p>Name <button>Update</button>&nbsp;&nbsp;&nbsp;<button>Delete</button></p>
                    <p>Name <button>Update</button>&nbsp;&nbsp;&nbsp;<button>Delete</button></p>
                    <p>Name <button>Update</button>&nbsp;&nbsp;&nbsp;<button>Delete</button></p>
                </div>
            </form>
        </div>
    </div>



    <style>
        .container {
            text-align: center;

        }

        .formLay {
            margin-left: 600px;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }

    </style>
</body>
</html>