<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="head">Sign Up</h1>
      <form action="/" method="post">
        <div class="layOut">
          <label for="name">Username</label>
          <input type="text" name="uname" id="uname" />
        </div>
        <div class="layOut">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" />
        </div>
        <div class="layOut">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
        </div>
        <div class="layOut">
          <label for="picture">Picture</label>
          <input class="lay" type="file" name="pic" id="pic" />
        </div>
        <div class="layOut btn">
          <input class="button" type="submit" value="Signup" id="button" name="btn" onclick="submit()">
          <!-- <button>Signup</button> -->
        </div>
        <a class="link" href="/login">Login instead...</a>
      </form>
    </div>

    <style>
      .container {
        padding: 40px;
      }

      .head {
        color: blue;
        text-align: center;
        /* text-decoration: underline; */
      }

      form {
        display: block;
        margin: auto;
        width: 400px;
        border: 3px solid blue;
        padding: 40px;
        border-radius: 5px;
      }

      label {
        display: flex;
        padding-bottom: 5px;
        padding-top: 10px;
      }

      input {
        width: 250px;
        height: 25px;
        outline: 0px;
        border: 1px solid black;
        border-radius: 5px;
        padding-left: 15px;
      }

      .lay {
        border: 0px;
      }


      .button {
        width: 150px;
        background-color: blue;
        outline: 0px;
        border: 0px;
        height: 30px;
        text-align: center;
        margin-top: 20px;
        border-radius: 5px;
      }

      .button:active {
        transform: scaleY(0.5);
      }

      a {
        color: blue;
        text-decoration: none;
        margin-top: 10px;
      }
      

    </style>

    <script>
      const submit = () => {
        const name = document.getElementById("uname");
        const email = document.getElementById("email");
        const btn = document.getElementById("button");
        const pass = document.getElementById("password");

        name.textContent = " ";
        email.textContent = " ";
        pass.textContent = " ";
      };
    </script>
  </body>
</html>
