<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="head">Login</h1>
      <form action="/login" method="post">
        <div class="layOut">
          <label for="email">Email:</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email"
          />
        </div>
        <div class="layOut">
          <label for="password">Password:</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter your password"
          />
        </div>
        <div class="layOut btn">
          <input class="button" onclick="submit()" type="submit" name="btn" id="button" value="Submit" />
          
        </div>
        <div><a class="link" href="/">Signup instead...</a></div>
      </form>
    </div>

    <style>
      .container {
        padding: 40px;
      }

      .head {
        color: blue;
        text-align: center;
        /* text-decoration: underline; */
      }

      form {
        display: block;
        margin: auto;
        width: 400px;
        border: 3px solid blue;
        padding: 40px;
        border-radius: 5px;
      }

      label {
        display: flex;
        padding-bottom: 5px;
        padding-top: 10px;
      }

      input {
        width: 250px;
        height: 25px;
        outline: 0px;
        border: 1px solid black;
        border-radius: 5px;
        padding-left: 15px;
      }

      .button {
        width: 150px;
        background-color: blue;
        outline: 0px;
        border: 0px;
        height: 30px;
        text-align: center;
        margin-top: 40px;
        border-radius: 5px;
      }

      .button:active {
        transform: scaleY(0.5);
      }

      a {
        color: black;
        text-decoration: none;
        /* margin-top: 10px; */
        color: blue;
      }
      .link {
        padding-top: 10px;
        padding-left: 5px;
        /* color: blue; */
      }
      
    </style>

    <script>
      const submit = () => {
        const name = document.getElementById("uname");
        const email = document.getElementById("email");
        const btn = document.getElementById("button");
        const pass = document.getElementById("password");

        name.textContent = " ";
        email.textContent = " ";
        pass.textContent = " ";
      };
    </script>
  </body>
</html>
